<p>User Profile</p>

<h1><%= @user.username %></h1>

<% @users_questions.each do |question| %>
<p><%= link_to question.title, question %> <%= link_to "Edit", question, :method => :edit %> <%= link_to "Delete", question, :method => :delete %></p>
<% end %>

<%= link_to "Submit a Question", new_question_path %>

