<div class="answer_form">
  <%= form_for Answer.create do |form| %>
    <p><%= form.label :description %>:</p>
    <%= h form.text_field :description %><br>
    <%= form.hidden_field :answerable_type, :value => answerable.class %>
    <%= form.hidden_field :answerable_id, :value => answerable.id %>
    <%= form.hidden_field :question_id, :value => question.id %>
    <p><%= form.submit %></p>
  <% end %>
</div>
